.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.card {
    background: var(--white-color);
    border-radius: 19px;
    box-shadow: 18.214px 18.214px 36.42px 0px rgba(211, 209, 216, 0.25);
    width: 320px;
}

.footer {
    padding: 12px;
}

.title {
    color: var(--text-color);
    font-size: 18.214px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: var(--text-secondary-color);
    font-size: 14.571px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    text-decoration: none;
}

.price {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;

    color: #111719;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.currency {
    color: var(--primary-color);
}

.rating {
    position: absolute;
    bottom: -12px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 8px;
    border-radius: 20px;

    color: #111719;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    box-shadow: 6.07px 6.07px 24.28px 0px rgba(254, 114, 76, 0.20);

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-to-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--primary-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--primary-hover-color);
}